@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body {
    display: flex;
    background: rgb(218, 212, 187);
    justify-content: center;
    align-items: center;
    padding: 0%;
    margin: 0%;
    height: 800px;
    width: 100%;
}

.quiz {
    background-color: rgb(177, 195, 228);
    padding: 4rem;
    width: 55rem;
    text-align: center;
    margin-top: 20px;
    
}

h1 {
    font-size: 3rem; 
    font-family: 'Bangers', cursive;
    
}

.question {
    font-size: 2rem;
    font-family: 'Bangers', cursive;
}

.choices {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    background-color: rgb(113, 197, 113);
    width: 250px;
    font-size: 20px;
    border-radius: 0.6rem;
    padding: 10px 20px;
    margin: 10px 40px 10px;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(92, 134, 111);
}

.progreso {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
}

#volver {
    text-decoration: none;
    font-size: x-large;
    background-color: rgb(181, 192, 212);
    border: 2%;
    border-radius: 5%;
    padding: 5px;

}

#volver:hover {
    cursor: pointer;
}

.volver {
    text-decoration: none;
    font-size: large;
    

}